@charset "utf-8";

/*
  Palette

  White: #FCF7F6
  Orange: #943600
  Green: #08A368
  Red: #A60835
  Magenta: #9C0A5D
  Blue: #1F3C8C

 */

html {
}

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0 auto;
  padding: 0;
  background-color: #9C0A5D;
  color: #FCF7F6;
  height: 50px;
  width: 100vw;
  min-height: 100vh;
}

footer {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  bottom: 0;
  background-color: #9C0A5D;
  height: 30px;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 10;
  border-top: 4px solid #FCF7F6;
}

header {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  background-color: #9C0A5D;
  height: 80px;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 10;
  border-bottom: 4px solid #FCF7F6;
}

h2 {
  font-size: 2.4em;
  margin: 0 auto;
  padding: 0;
}

h5 {
  margin: 0 auto;
  padding: 0;
}
